[submodule "testdata/pgmig"]
	path = testdata/pgmig
	url = git@github.com:pgmig-sql/pgmig.git
[submodule "testdata/rpc"]
	path = testdata/rpc
	url = git@github.com:pgmig-sql/rpc.git
[submodule "testdata/rpc_testing"]
	path = testdata/rpc_testing
	url = git@github.com:pgmig-sql/rpc_testing.git
