[submodule "testdata/pgmig"]
	path = testdata/pgmig
	url = https://github.com/pgmig-sql/pgmig.git
[submodule "testdata/rpc"]
	path = testdata/rpc
	url = https://github.com/pgmig-sql/rpc.git
[submodule "testdata/rpc_testing"]
	path = testdata/rpc_testing
	url = https://github.com/pgmig-sql/rpc_testing.git
